.select-input-form {
  .label-input {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .select-input {
    width: 300px;
    height: 40px;
    border: 1px solid #dbdbdb;
  }

  .error-message {
    color: red;
  }
}
