.login-container {
  display: flex;
  height: 100vh;
  @include tablet-down {
    flex-direction: column;
  }
  .login-form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f6f7fa;
    z-index: 2;
    @include tablet-down {
      width: 100%;
      height: 100vh;
      background-color: transparent;
    }
    form {
      max-width: 432px;
      .header {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 56px;
        @include tablet-down {
          color: var(--color-white);
        }
      }
      .inputField {
        margin-bottom: 24px;
        .label {
          @include tablet-down {
            color: var(--color-white);
          }
        }
        .search-box {
          @include mobile {
            width: 100%;
          }
        }
      }
      .utilities {
        display: flex;
        justify-content: space-between;
        margin-bottom: 36px;
        margin-top: 8px;
        align-items: center;
        @include tablet-down {
          color: var(--color-white);
        }
        .remember {
          display: flex;
          align-items: center;
        }
      }
      .createAcc {
        margin-top: 24px;
        display: flex;
        gap: 5px;
        @include tablet-down {
          color: var(--color-white);
        }
        .question {
          color: #dcdcdc;
        }
      }
      .errorMess {
        width: 100%;
        margin-top: 24px;
        min-height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        .error {
          color: #ff0000;
        }
      }
    }
  }
  .login-image {
    width: 50%;
    background-image: url('../../assets/img_form_auth.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include tablet-down {
      width: 100%;
      height: 100vh;
      position: absolute;
    }
  }
  .login-image::after {
    @include tablet-down {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
