:root {
  --color-black: #000000;
  --color-grey: #5c5c5f;
  --color-white: #ffffff;
  --background-color: #fff;
  --background-color-sub: #18202e;
  --background-color-grey: #e5e5e5;
  --background-second-new: linear-gradient(
    180deg,
    #e5e6ed 41.65%,
    #f1f2f4 80.57%,
    #ffffff 96.86%
  );

  --border-color: #ccc;
  --color-hover: #ee82ee;
  --color-text: #000;
  --progress-color: #fff;
  --box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

  --color-hamburger-menu: #000;
  --border-radius-box: 8px;
}
